

.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.crystal{
    border:1px solid red;
    height:200px;
    width:200px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.74);
    transition: box-shadow 1s;
}

.crystal:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.767);
    transform: translate(5px,40px);
    cursor: pointer;
    transition: box-shadow .6s, transform 1s;
}